<!-- PDF Resume Display -->
<div class="ui container">
  <div class="ui segment">
    <embed src="{{ site.baseurl }}/YS_Masuda_Resume.pdf" type="application/pdf" width="100%" height="800px" />
    <div class="ui center aligned basic segment">
      <p><em>If the PDF doesn't display above, <a href="{{ site.baseurl }}/YS_Masuda_Resume.pdf" target="_blank">click here to view it directly</a>.</em></p>
    </div>
  </div>
  
  <div class="ui center aligned basic segment">
    <div class="ui large button" onclick="window.open('{{ site.baseurl }}/YS_Masuda_Resume.pdf', '_blank')">
      <i class="download icon"></i>
      Download PDF Resume
    </div>
  </div>
</div>