{% assign paper_pages = site.pages | where: "type", "paper" %}

<div class="ui container">
    <div class="ui stackable centered grid">
        <div class="fourteen wide column">
            <div class="ui center aligned header">
                <h1>Papers</h1>
            </div>

            <div class="ui stackable one column grid">

                <!-- Stereo Vision Paper -->
                <div class="column">
                    <div class="ui fluid card">
                        <div class="content">
                            <div class="header">Stereo Vision System for Autonomous Marine Navigation: Implementation,
                                Integration, and Comparative Analysis</div>
                            <div class="meta">August 2025</div>
                            <div class="description">
                                Implementation and comparative analysis of stereo vision systems for autonomous marine
                                navigation applications.
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui two buttons">
                                <a href="{{ site.baseurl }}/papers/stereo-vision/" class="ui basic blue button">
                                    <i class="eye icon"></i>
                                    View Paper
                                </a>
                                <a href="{{ site.baseurl }}/papers/stereo-vision/Stereo_Vision.pdf"
                                    target="_blank" class="ui basic green button">
                                    <i class="download icon"></i>
                                    Download PDF
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- Mechanical Exfoliation Paper -->
                    <div class="column">
                        <div class="ui fluid card">
                            <div class="content">
                                <div class="header">Accessible and Inexpensive Parameter Testing Platform for Adhesive
                                    Removal in Mechanical Exfoliation Procedures</div>
                                <div class="meta">January 2025</div>
                                <div class="description">
                                    Research on accessible and inexpensive parameter testing platform for adhesive removal
                                    in mechanical exfoliation procedures.
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui two buttons">
                                    <a href="{{ site.baseurl }}/papers/mechanical-exfoliation/"
                                        class="ui basic blue button">
                                        <i class="eye icon"></i>
                                        View Paper
                                    </a>
                                    <a href="{{ site.baseurl }}/papers/mechanical-exfoliation/Mechanical_Exfoliation.pdf"
                                        target="_blank" class="ui basic green button">
                                        <i class="download icon"></i>
                                        Download PDF
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                <!-- Public Transport Network Science Paper -->
                <div class="column">
                    <div class="ui fluid card">
                        <div class="content">
                            <div class="header">Network Science Approaches to Improving Public Transportation</div>
                            <div class="meta">December 2024</div>
                            <div class="description">
                                An analysis of how public transportation might be improved using network science
                                approaches.
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui two buttons">
                                <a href="{{ site.baseurl }}/papers/public-transport-network-science/"
                                    class="ui basic blue button">
                                    <i class="eye icon"></i>
                                    View Paper
                                </a>
                                <a href="{{ site.baseurl }}/papers/public-transport-network-science/Public_Transport.pdf"
                                    target="_blank" class="ui basic green button">
                                    <i class="download icon"></i>
                                    Download PDF
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>